{{- define "top-bar-right" -}}
{{- partial "share.html" $ -}}
{{- end -}}
{{- define "title-bar-right" }}
{{- partial "share.html" $ -}}
{{- end -}}
{{- define "whatisthis" -}}
{{- partial "whatisthis-short.html" . -}}
{{- end -}}
{{ define "main" }}
{{- $performance_title := .Params.performance_title | default "Performances" -}}
<div class="row">
  <div class="column small-12 medium-10 medium-offset-1  large-8 large-offset-2 end">
  <article class="pub" itemscope itemtype="http://schema.org/CreativeWork">
    <h1>{{ .Title | markdownify }}</h1>
    <ul class="inside-list">
    {{- range .Params.writing_credit }}
    <li>{{. | markdownify }}
    </li>
    {{ end -}}
    </ul>
    {{- partial "post_fmt/banner" (dict "dot" . "rel_path" "." ) -}}
    {{- if isset .Params "performances" -}}
      <h3>{{ $performance_title }}:</h3>
      <ul class="inside-list">
      {{- range $performance := .Params.performances -}}
        <li><b>{{ index $performance "date" | markdownify }}</b>, {{ index $performance "description" | markdownify }}.
        {{- if ne (index $performance "credits") nil }}
        <br/>{{ index $performance "credits" | markdownify }}
        {{ end -}}
        </li>
      {{- end -}}
      </ul>
    {{- end -}}
    {{ .Content }}

    </article>
    <hr>
    {{ if .PrevInSection }}
      <a href="{{.PrevInSection.Permalink}}"> &laquo; &nbsp;
        {{- .PrevInSection.Title | markdownify -}}
      </a>
     {{ if .NextInSection }} | {{ end }}
   {{ end }}
   {{ if .NextInSection }}
     <a href="{{.NextInSection.Permalink}}">
     {{- .NextInSection.Title | markdownify -}}&nbsp;&raquo;</a>
   {{ end }}
  </div>
</div>
{{ end }}
