{{ define "top-bar-right" }}
{{ partial "share.html" $ }}
{{ end }}
{{ define "title-bar-right" }}
{{ partial "share.html" $ }}
{{ end }}
{{ define "whatisthis" }}
{{ partial "whatisthis-short.html" . }}
{{ end }}
{{ define "main" }}
<div class="row">
<div class="column small-12 large-8 large-offset-0 end">
  <article class="article" itemscope itemtype="http://schema.org/Article">
  <div class="row">
    <div class="column small-12 medium 8 medium-offset-4 large-10 large-offset-2">
      <h1 itemprop="name headline">{{ .Title }}</h1>
      <div class="post-byline">
        <span class="post-byline">
        {{- partial "post_fmt/author" (dict "dot" . "pre_comma" 0 "post_comma" 1) -}}
        {{- partial "post_fmt/publication" (dict "dot" .) -}}
        {{- partial "post_fmt/pub_link" (dict "dot" . "para" 1) -}}
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column small-12 medium-4 large-2">
      <div class="post-dateblock">
        {{- partial "post_fmt/date" (dict "dot" .) -}}
        <span class="post-tags">
        {{- partial "post_fmt/tags" (dict "dot" . "tag_newline" 1) -}}
      </div>
    </div>
    <div class="show-for-small-only column small-12"><hr/></div>
    <div class="column small-12 medium-8 large-10">
      <div class="post-body" itemprop="articleBody">
      {{ partial "post_fmt/banner" (dict "dot" . "rel_path" (delimit (slice "/news/img" .Slug ) "/")) }}
      <div class="post-body" itemprop="articleBody">
        {{ .Content | markdownify }}
      </div>

      <meta itemprop="wordCount" content="{{ .WordCount }}">
      <meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">
      <meta itemprop="url" content="{{ .Permalink }}">
    </article>

    <ul class="pagination" role="navigation" aria-label="Pagination">
      {{ if .PrevInSection }}
      <li class="arrow" aria-disabled="true"><a href="{{.PrevInSection.Permalink}}">&laquo; <em>Previous<span class="show-for-sr"> page</span></em>: {{ .PrevInSection.Title }}</a></li>
      {{ end }}
      {{ if .NextInSection }}
      <li class="arrow" aria-disabled="true"><a href="{{.NextInSection.Permalink}}"><em>Next<span class="show-for-sr"> page</span></em>: {{ .NextInSection.Title }}&nbsp;&raquo;</a></li>
      {{ end }}
    </ul>

    <!-- FIXME <a href="/post/archives/">All Posts by Date</a> &middot; <a href="/categories/">All Posts by Category</a> -->
  </div>
</div>
{{ end }}
