<article class="postlist">
    <article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
    <div class="meta"><h4>{{ partial "post_fmt/date" . }}</h4></div>
      <h2><a href='{{ .Permalink }}'><span itemprop="name headline">{{ .Title }}</span></a></h2>
    </header>
    {{ if isset .Params "abstract" -}}
      {{ .Params.abstract | markdownify | safeHTML }}
    {{- else -}}
      {{- .Summary -}}
    {{- end }}
    </article>
    <footer>
        <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
    </footer>
</article>
