{{- $ := .dot -}}
{{- if or .force (or (isset $.Params "authors") (and (isset $.Params "author") (not (in (slice $.Site.Params.AuthorName "~" "" nil) $.Params.author)))) -}}
{{- if gt .pre_comma 0 }}, {{ end }}by
  {{ if isset $.Params "authors" -}}
    {{- $author_ct := len $.Params.authors -}}
    {{- range $i, $a := $.Params.authors -}}
    <span itemprop="author">{{ $a }}</span>
    {{- if lt $i (sub $author_ct 2) }},
    {{ else -}}
      {{- if eq $i (sub $author_ct 2) -}}
        {{- if gt $author_ct 2 }},{{ end }}
        and
        {{ end -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    <span itemprop="author">{{ $.Params.author }}</span>
  {{- end -}}
  {{ if gt .post_comma 0 }}, {{ end -}}
{{- else -}}
  <meta itemprop="author" content="{{ $.Site.Params.AuthorName }}"/>
{{- end }}
