{{- $ := .dot -}}
{{- if isset $.Params "tags" -}}
  {{- $tagsLen := len $.Params.tags -}}
  {{- if gt $tagsLen 0 }}
    {{- if .tag_newline -}}
    <div>
    {{- end -}}
    <span>
    <span class="post-tags"><i class="{{partial "fa_icon" (dict "Site" $.Site "pro_weight" "r" "weight" "s" "icon" "tags")}}"></i>
    {{- range $k, $v := $.Params.tags -}}
      <a class="post-tag" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>{{ if lt $k (sub $tagsLen 1) }},{{ if gt 0 $k }}</span>{{ end}} {{ end }}
    {{ end -}}
    </span>
    {{- if .tag_newline -}}
    </div>
    {{- end -}}
  {{ end -}}
{{ end -}}
