{{- $ := .dot -}}
{{- if isset $.Params "doi" }}
{{ if false -}}<i class="ai ai-doi"></i> {{ end -}}
<a href="https://doi.org/{{ $.Params.doi | safeHTML }}" target="_blank" class="badge badge-small doi">DOI</a>
  {{- if eq .nomicrodata 0 }}
    <meta itemprop="sameAs" content="https://doi.org/{{ $.Params.doi | safeHTML }}"/>
  {{- end -}}
{{- else -}}
  {{- if isset $.Params "pub_url" }}
    <a href="{{ $.Params.pub_url | safeHTML }}" target="_blank" class="badge badge-small url">
    {{ if true -}}<i class="{{partial "fa_icon" (dict "Site" $.Site "pro_weight" "l" "weight" "s" "icon" "globe")}}"></i> {{ end -}}
    WWW</a>
      {{- if eq .nomicrodata 0 }}
        <meta itemprop="sameAs" content="{{ $.Params.pub_url | safeHTML }}"/>
      {{- end -}}
  {{- end -}}
{{ end -}}
