{{- $raw_names := .names -}}
{{- $cutoff := .cutoff -}}
{{- $name_type := .name_type -}}
{{- $names := apply (apply $raw_names "partial" "pub_fmt/author" ".") "chomp" "." -}}
{{- if gt (len $names) $cutoff -}}
  <span itemprop="{{ $name_type }}">{{- index $names 0 }}</span> <i>et al</i>.
{{- else -}}
  {{- $name_ct := len $names -}}
  {{- range $i, $n := $names -}}
  <span itemprop="{{ $name_type }}">{{ $n }}</span>
  {{- if lt $i (sub $name_ct 2) }},
  {{ else -}}
    {{- if eq $i (sub $name_ct 2) -}}
      {{- if gt $name_ct 2 }},{{ end }}
      &amp;
      {{ end -}}
    {{- end }}
  {{- end -}}
{{- end -}}
