{{- $ := .dot -}}
<article class="pub inline" itemscope itemtype="http://schema.org/ScholarlyArticle">
{{ partial "pub_fmt/article_title" . -}}
{{ partial "pub_fmt/authors" . }},
{{- if isset $.Params "container_title" }}
  in
  {{ if isset $.Params "editor" -}}
    {{ partial "pub_fmt/editors" . | chomp -}},
  {{ end -}}
  {{ partial "pub_fmt/container_title" . | chomp -}}
  {{- if (isset $.Params "page") | and (not (eq $.Params.page "")) -}},
  {{ $.Params.page -}}
  {{- end }}
  {{ partial "pub_fmt/publisher" . -}}.
{{- end -}}
{{- if gt .doi 0 -}}
{{- partial "pub_fmt/doi" . -}}
{{- end -}}
{{- if gt .url 0 -}}
{{- partial "pub_fmt/url" . -}}
{{- end -}}
{{- if gt .amazon 0 }}
{{ partial "pub_fmt/amazon" . -}}
{{- end -}}
{{- if gt .pdf 0 }}
{{ partial "pub_fmt/pdf" . -}}
{{- end }}
{{- if gt .ssrn 0 }}
{{ partial "pub_fmt/ssrn" . -}}
{{- end }}
{{- if gt .preprint 0 }}
{{ partial "pub_fmt/preprint_link" . -}}
{{- end }}
{{- if isset $.Params "author" -}}
  {{ $author_names := apply (apply $.Params.author "partial" "pub_fmt/author" ".") "chomp" "." -}}
  {{- range $author_names }}
  <meta itemprop="author" content="{{ . | markdownify }}"/>
  {{- end -}}
{{- end -}}
{{- if isset $.Params "editor" -}}
  {{ $ed_names := apply (apply $.Params.editor "partial" "pub_fmt/author" ".") "chomp" "." -}}
  {{- range $ed_names }}
  <meta itemprop="editor" content="{{ . | markdownify }}"/>
  {{- end -}}
{{- end -}}
{{- if gt .meta_doi 0 }}
{{- partial "pub_fmt/meta_doi" . | chomp -}}
{{- end -}}
{{- if gt .meta_pub_url 0 -}}
{{- partial "pub_fmt/meta_url" . | chomp -}}
{{- end -}}
<time datetime="{{ $.Date | safeHTML }}" itemprop="datePublished"></time>
</article>
