{{- $ := .dot -}}
<article class="pub inline" itemscope itemtype="http://schema.org/CreativeWork">
{{ partial "pub_fmt/book_title" . -}},
{{ partial "pub_fmt/authors" . -}},

Patent #{{ $.Params.number }}, issued {{ $.Date.Format "2 Jan. 2006" }}.
{{- if gt .patent 0 -}}
{{- partial "pub_fmt/patent_link" . -}}
{{- end -}}
{{- if gt .doi 0 -}}
{{- partial "pub_fmt/doi" . -}}
{{- end -}}
{{- if gt .pdf 0 }}
{{ partial "pub_fmt/pdf" . -}}
{{- end }}
{{- if gt .ssrn 0 }}
{{ partial "pub_fmt/ssrn" . -}}
{{- end }}
{{- if gt .preprint 0 }}
{{ partial "pub_fmt/preprint_link" . -}}
{{- end }}
{{- if isset $.Params "author" -}}
  {{- $author_names := apply (apply $.Params.author "partial" "pub_fmt/author" ".") "chomp" "." -}}
  {{- range $author_names }}
  <meta itemprop="author" content="{{ . | markdownify }}"/>
  {{- end -}}
{{- end -}}
{{- if gt .meta_doi 0 }}
{{- partial "pub_fmt/meta_doi" . | chomp -}}
{{- end -}}
<time datetime="{{ $.Date | safeHTML }}" itemprop="datePublished"></time>
</article>
