{{- $ := .dot -}}
{{- $pl := .pub_loc -}}
{{- $isbn := .isbn}}
{{- if isset $.Params "publisher" }}
({{- if gt $pl 0 | and (isset $.Params "publisher_place") | and (index $.Params "publisher_place") -}}
    <span itemprop="locationCreated">{{- index $.Params "publisher_place" -}}</span>:
 {{ end -}}
  <span itemprop="publisher" itemtype="http://schema.org/Organization" itemscope=""><span itemprop="name">{{ $.Params.publisher }}</span></span>
  {{- if gt .bib_with_year 0 }}
  <span itemprop="datePublished">{{ $.Date.Format "2006" }}</span>
  {{- end -}})
{{- end -}}

{{- if gt $isbn 0 | and (isset $.Params "isbn") }}, ISBN: <span itemprop="isbn">{{ $.Params.isbn }}</span>
{{ else }}
  {{- if in (slice "chapter" "bookchapter" "inproceedings") $.Params.pub_type -}}
  <span itemprop="isPartOf"  itemscope itemtype="http://schema.org/Book">
  {{- end -}}
  <meta itemprop="isbn" content="{{ $.Params.isbn }}" id = "{{ $.Params.isbn }}"/>
  {{- if in (slice "chapter" "bookchapter" "inproceedings") $.Params.pub_type -}}
  </span>
  {{- end -}}
{{- end -}}
