{{- $ := .dot -}}
<article class="pub inline" itemscope itemtype="http://schema.org/CreativeWork">
{{ partial "pub_fmt/book_title" . | markdownify | chomp -}},
{{ partial "pub_fmt/authors" . | chomp -}},
{{ partial "pub_fmt/thesis_type" . | chomp }}.
{{ partial "pub_fmt/publisher" . | chomp -}}.
{{- if gt .pdf 0 }}
{{ partial "pub_fmt/pdf" . -}}
{{- end }}
{{- if gt .preprint 0 }}
{{ partial "pub_fmt/preprint_link" . -}}
{{- end }}
Thesis
{{- if isset $.Params "author" -}}
  {{- $author_names := apply (apply $.Params.author "partial" "pub_fmt/author" ".") "chomp" "." -}}
  {{- range $author_names }}
  <meta itemprop="author" content="{{ . | markdownify }}"/>
  {{- end -}}
{{- end -}}
{{- if gt .meta_doi 0 }}
{{- partial "pub_fmt/meta_doi" . | chomp -}}
{{- end -}}
<time datetime="{{ $.Date | safeHTML }}" itemprop="datePublished"></time>
</article>
